.carousel {
    max-width: 600px;
    position: relative;
}

.carousel-item,
.carousel-item-hidden {
    display: none;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
}

.carousel-item-visible {
    display: block;
    position: relative;
    animation: fadeVisibility 0.5s;
}

.carousel-actions {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-actions button {
    border-radius: 50px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#carousel-button-prev {
    margin-left: 10px;    
}

#carousel-button-next {
    margin-right: 10px;    
}

@keyframes fadeVisibility {
    0% {
        opacity: 0
    }
    
    100% {
        opacity: 1
    }
}